*{
    background-color: aquamarine;
    background-image: url(plants.jpg);
    /* background-image: conic-gradient(red,yellow,rgb(0, 128, 21)); */
    background-position:left top;
    background-size:cover;
    background-repeat:repeat-y;
    background-origin:padding-box;
}